<div class="body_container">

  <h1><%=params[:search]%></h1>

  <div id="photos_container">
  <% @photos_array.each do |p| %>

    <%= link_to '#' do %>
      <div class="each_photo_container">    
        <%= image_tag p[:url] %>
      </div>
    <% end %>

  <!-- Jquery script for changing modal onClick -->
  <script>
  jQuery(function() {
    $('.each_photo_container').click(function (e) {
      $('.basic_modal').html("<p><%= escape_javascript(image_tag p[:url]) %></p>");
      return false;
    });
  });
  </script>

  <% end %>

  <div class="basic_modal">
   <p> Sample text</p>
  </div>


  </div>
</div>
