<div class="body_container">

  <h1><%=params[:search]%></h1>

  <div id="photos_container">
  <% @photos.each do |photo| %>


    <%= link_to '#' do %>
      <div class="each_photo_container">
        <%= image_tag flickr_url(photo) %>
      </div>
    <% end %>

<!--
Jquery Target, click method Events

-->
    <div id="basic_modal_container">
    </div>

  <% end %>

  </div>
</div>
