<h1><%=params[:search]%></h1>


<% @photos.each do |photo| %>


  <%= link_to '#' do %>
    <div class="photo_container">
      <%= image_tag flickr_url(photo) %>
    </div>
  <% end %>

<!--
Jquery Target, click method Events

-->
  <div id="basic_modal_container">
  </div>

<% end %>


