<h1><%=params[:search]%></h1>


<% @photos.each do |photo| %>


  <%= link_to '#', :class => 'basic' do %>
    <div class="photo_container">
      <%= image_tag flickr_url(photo) %>
    </div>
  <% end %>

<!--
Jquery Target, click method Events

-->
  <div id="basic_modal">
    <p><%= image_tag modal_url(photo), :class=>"modal_image" %></p>
  </div>

<% end %>


